<!--
  Generated template for the ProductDetailPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-segment [(ngModel)]="seg" *ngIf="segmentIsShown">
      <ion-segment-button value="content" (ionSelect)="ionSelect()">
        商品介绍
      </ion-segment-button>
      <ion-segment-button value="spec" (ionSelect)="ionSelect()">
        规格参数
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

</ion-header>


<ion-content no-padding class="product-detail">
  <div [ngSwitch]="seg" id="segContent">
    <div *ngSwitchCase="'content'">
      <ion-slides pager style="height:auto;border-bottom: solid 1px #f4f4f4">
        <ion-slide *ngFor="let u of product.pics">
          <img src="{{u}}"/>
        </ion-slide>
      </ion-slides>
      <div padding [innerHTML]="product.content"></div>
    </div>
    <div padding [innerHTML]="product.spec" *ngSwitchCase="'spec'"></div>
  </div>
  <button fab fab-bottom fab-fixed fab-left background (click)="back()" style="margin-bottom: 36px;">
    <ion-icon name="undo"></ion-icon>
  </button>
</ion-content>

<ion-footer class="product-detail" *ngIf="footerIsShown">
  <ion-row no-padding>
    <ion-col width-50 no-padding>
      <button clear full no-margin class="border-top-grey" (click)="nav2Prototype()">
        申请样机
      </button>
    </ion-col>
    <ion-col width-50 no-padding>
      <button favorite full no-margin (click)="nav2Order()">
        <ion-icon name="buy"></ion-icon>
        立即购买
      </button>
    </ion-col>
  </ion-row>
</ion-footer>
