<!--
  Generated template for the SelectPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-content no-padding>
  <ion-list>
    <ion-item *ngFor="let t of tags">
      <ion-label>
        <ion-icon name="{{t.icon}}">&nbsp;</ion-icon>
        {{t.name}}
      </ion-label>
      <ion-select [(ngModel)]="selected[t.id]">
        <ion-option *ngFor="let v of t.subs" value="{{v.id}}">{{v.name}}</ion-option>
      </ion-select>
      <button clear item-right (click)="cancel(t.id)" danger>
        <ion-icon name="delete"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
  <ion-grid>
    <ion-row>
      <ion-col>&nbsp;</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>&nbsp;</ion-col>
    </ion-row>
  </ion-grid>
  <button fab fab-bottom fab-fixed fab-center favorite (click)="nav2ProductList()">
    <ion-icon name="search"></ion-icon>
  </button>
  <button fab fab-bottom fab-fixed fab-left background (click)="back()">
    <ion-icon name="undo"></ion-icon>
  </button>
</ion-content>
