@import "app.variables";
.home {

  .text-on-bottom {
    height: 86px;
    ion-icon {
      font-size: 48px;
      padding-left: 13px;
      font-weight: normal;
      color: color($colors, primary);
    }
    span {
      color: black;
      font-size: 14px;
    }
  }

}
.titleicon {
  position: relative;
  //display:inline-block;
  bottom:5px;
  font-size: 18px;
  font-weight: bold;
}


.text-on-bottom > .button-inner {
  flex-direction: column;
  line-height: 36px;
}
