<!--
  Generated template for the ProductPage page.

  See http://ionicframework.com/docs/v2/components/#navigation for more info on
  Ionic pages and navigation.
-->


<ion-content no-padding class="product">
  <div style="height:8px;">&nbsp;</div>
  <ion-grid>
    <ion-row *ngFor="let row of categories">
      <ion-col width-50 *ngFor="let c of row" padding>
        <ion-card no-margin>
          <ion-card-header>
            {{c.name}}
          </ion-card-header>
          <ion-list no-lines class="border-top-grey">
            <button ion-item (click)="nav2ProductCategory(c);">
              <img src="{{c.picUrl}}"/>
            </button>
          </ion-list>
        </ion-card>

      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
